<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.san.exam.board.map.BoardMapper">
	<!-- 전체 조회 -->
	<select id="selectBoardList" resultType="BoardVO">
		SELECT bno
			   , title
			   , contents
			   , writer
			   , regdate
			   , updatedate
			   , image
		FROM tbl_board
	</select>
	
	<!-- 단건 조회 -->
	<select id="selectBoardInfo" resultType="BoardVO">
		SELECT bno
			   , title
			   , contents
			   , writer
			   , regdate
			   , updatedate
			   , image
		FROM tbl_board
		WHERE bno = #{bno}
		<if test="writer != null and writer.equals('')"> AND writer = #{writer}</if>
	</select>
	
	<!-- 등록 -->
	<insert id="insertBoard" parameterType="BoardVO">
		<selectKey keyProperty="bno" order="BEFORE"
			resultType="String">
			SELECT LPAD(NVL(MAX(bno), 0) + 1, 3,'0')
			FROM tbl_board
		</selectKey>
		INSERT INTO tbl_board(
			bno
			, title
			, contents
			, writer
			<if test="image != null and !image.equals('')">
				, image
			</if>
		)
		VALUES(
			#{bno}
			, #{title}
			<choose>
				<when test="contents != null and !contents.equals('')">
					, #{contents}
				</when>
				<otherwise>
					, 'No Contents'
				</otherwise>
			</choose>
			, #{writer}
			<if test="image != null and !image.equals('')">
				, #{image}
			</if>
		)
	</insert>
	
	<!-- 수정 -->
	<update id="updateBoard" parameterType="BoardVO">
		UPDATE tbl_board
		<set>
			<if test="updatedate == null"> 
				updatedate = sysdate
			</if>
			<if test="updatedate != null"> 
				updatedate = #{updatedate}
			</if>
			<if test='writer != null and !writer.equals("")'>
				, writer = #{writer}
			</if>
			<if test='contents != null and !contents.equals("")'>
				, contents = #{contents}
			</if>
			<if test='image != null'>
				, image = #{image}
			</if>
		</set>
	</update>
	
	<!-- 삭제 -->
	<delete id="deleteBoard">
		DELETE FROM tbl_board
		WHERE TO_NUMBER(bno) = #{bno} <!-- (1)=(2) -->
		<!-- (2) WHERE bno = LPAD(#{bno}, 3,'0') -->
	</delete>

</mapper>